.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #0f111a;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
  position: sticky;
  top: 0;
  z-index: 999;
}

.logo {
  color: #f5c219;
  font-size: 1.5rem;
  font-weight: 600;
  text-decoration: none;
}

.navbar-right .nav-link {
  margin-left: 2rem;
  text-decoration: none;
  color: #ccc;
  font-weight: 500;
  transition: color 0.3s ease;
}

.navbar-right .nav-link:hover {
  color: #f5c219;
}